.image-container {
    position: relative;
}

.form-box {
    width: 70%;
}

.form-row {
    margin-bottom: 24px
}

.form-row label {
    margin-bottom: 8px;
    display: block
}

.form-row.form-group {
    display: flex
}

.form-row.form-group .form-holder {
    width: 50%;
    margin-right: 21px
}

.form-row.form-group .form-holder:last-child {
    margin-right: 0
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

.success-box {
    color: green;
    border: 2px solid green;
    padding: 5px 10px;
    line-height: 1;
    text-justify: auto;
}

.message-span {
    margin: 10px;
}

.error-box {
    color: red;
    border: 2px solid red;
    padding: 5px 10px;
    line-height: 1;
    text-justify: auto;
}

a {
    color: #007bff !important;
}

.btn-primary {
    background-image: linear-gradient(#007baa, #007bee, 6%, #007bff)!important;
    border-color: #007bff !important;
}

.discard-btn {
    background: red !important;
}

.Invalid {
    color: red;
    font-weight: 700;
}

.Valid {
    color: green;
    font-weight: 700;
}

.firsthalf {
    width: 40%;
    margin-right: 10px;
}

.lasthalf {
    width: 40%;
}

.buildinghalf {
    width: 10%;
    margin-right: 10px;
}